.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Vollkorn", serif;
  font-size: 18px;
}

.App-logo {
  border-radius: 35px;
  max-width: 70px;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(255, 223, 170, 0.3) 0px 0px 20px;
}

.Main-content {
  font-weight: 500;
  font-size: 50px;
  margin-top: 70px;
}

body {
  background-color: #f4f4fc;
  background-image: url("bg.svg");
  background-repeat: round;
  background-size: contain;
}

a {
  margin: 0 4px;
  text-decoration: none;
  color: #6d91cf;
}
a:hover {
  color: #ffdfaa;
}

.App-header,
.App-footer {
  margin: 30px auto;
}

.App-footer {
  text-align: center;
  font-size: 16px;
}
