.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #fafaff;
}

a {
  text-decoration: none;
  color: #ffdffa;
}

.App-header,
.App-footer {
  margin: 30px auto;
  text-align: center;
}

.App-footer {
  font-size: 12px;
}
